In [23]:
%pip install seaborn
import pandas as pd
import numpy as np
import seaborn

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting seaborn
  Downloading seaborn-0.13.0-py3-none-any.whl (294 kB)
                                              0.0/294.6 kB ? eta -:--:--
     ----                                    30.7/294.6 kB 1.3 MB/s eta 0:00:01
     ---------                             71.7/294.6 kB 787.7 kB/s eta 0:00:01
     -------------------                    153.6/294.6 kB 1.1 MB/s eta 0:00:01
     ------------------------------         235.5/294.6 kB 1.6 MB/s eta 0:00:01
     -------------------------------------- 294.6/294.6 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\joe\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.26.0)
Requirement already satisfied: pandas>=1.2 in c:\users\joe\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.1)
Collecting matplotlib!=3.6.1,>=3.3 (from seaborn)
  Downloading matplotlib-3.8.0-cp311-cp311-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
                                              0.1/7.6 MB ? eta -:--:--
     --                                       0.5/7.6 MB 5.7 MB/s eta 0:00:02
     ---                                      0.7/7.6 MB 5.2 MB/s eta 0:00:02
     -------                                  1.4/7.6 MB 7.6 MB/s eta 0:00:01
     ------------                             2.4/7.6 MB 10.3 MB/s eta 0:00:01
     -----------------                        3.4/7.6 MB 13.6 MB/s eta 0:00:01
     -----------------                        3.4/7.6 MB 13.6 MB/s eta 0:00:01
     -----------------                        3.4/7.6 MB 13.6 MB/s eta 0:00:01
     -------------------------                4.9/7.6 MB 12.6 MB/s eta 0:00:01
     -----------------------------            5.6/7.6 MB 12.3 MB/s eta 0:00:01
     --------------------------------         6.3/7.6 MB 12.2 MB/s eta 0:00:01
     -----------------------------------      6.7/7.6 MB 11.9 MB/s eta 0:00:01
     ------------------------------------     7.0/7.6 MB 11.5 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 11.6 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Downloading contourpy-1.1.1-cp311-cp311-win_amd64.whl (480 kB)
                                              0.0/480.5 kB ? eta -:--:--
     ------------------------------------- 480.5/480.5 kB 31.4 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Downloading fonttools-4.43.1-cp311-cp311-win_amd64.whl (2.1 MB)
                                              0.0/2.1 MB ? eta -:--:--
     -----------------------                  1.3/2.1 MB 40.3 MB/s eta 0:00:01
     --------------------------------------   2.0/2.1 MB 32.9 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 22.7 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Downloading kiwisolver-1.4.5-cp311-cp311-win_amd64.whl (56 kB)
                                              0.0/56.1 kB ? eta -:--:--
     ---------------------------------------- 56.1/56.1 kB ? eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\joe\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Collecting pillow>=6.2.0 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Downloading Pillow-10.0.1-cp311-cp311-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     --------------                           0.9/2.5 MB 28.7 MB/s eta 0:00:01
     ---------------------------------------  2.5/2.5 MB 31.9 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 23.0 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
                                              0.0/103.1 kB ? eta -:--:--
     ---------------------------------------- 103.1/103.1 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\joe\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\joe\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\joe\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\joe\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.1.1 cycler-0.12.1 fonttools-4.43.1 kiwisolver-1.4.5 matplotlib-3.8.0 pillow-10.0.1 pyparsing-3.1.1 seaborn-0.13.0
Note: you may need to restart the kernel to use updated packages.

In [24]:
#data_sub = pd.read_csv('gender_submission.csv')
#data_test = pd.read_csv('test.csv')
data_train = pd.read_csv('train.csv')
data_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
#data_train.info()
data_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [32]:
data_train['Pclass'].unique()

array([3, 1, 2], dtype=int64)